body {
    background-image:url(../images/imagen.png);
    font-family: helvetica;
    font-size: 11px;
    color: #484F4F;
}
url(../images/image.png);

    list-style-type: square;
   
}


h1 {
    background-color: #E2E2E0;
    width: 15%;
    text-align: center;
    color: #35B7B7;
    text-decoration: underline;
    padding: 5px 0px 0px 0px;
    
}

h2 {
    color: #35B7B7;
    text-decoration: underline
}

.conteneur {
    width: 100%;
    max-width: 960px;
    padding: 10px;
    margin: 15px;
}

.image {
    width:30%;
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
}

header .image img {
    width:60%;
}

.colonne {
    width:30%;
    padding: 10px;
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
    
}

main {
    background-image:url(../images/imagen2.png);
}

iframe {
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box; {
    color: red;
}

